nav {
    height: 5rem;
    background-color: blue;
}

.middle {
    height: 60vh;
    background-color: red;
}


* {
    margin: 0;
    padding: 0;
}

footer {
height: 10rem;
background-color: green;
}